<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
  var socket = io.connect('http://localhost:3000');
  socket.on('MapEvent', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>
